{{ include('partials/main.html.twig') }}

    <head>

        {{ include('partials/title-meta.html.twig', {title: 'Dashboard'}) }}

        <link rel="stylesheet" href="/libs/flatpickr/flatpickr.min.css">
        <link rel="stylesheet" href="/libs/@simonwep/pickr/themes/classic.min.css"/>
        
        <link rel="stylesheet" href="/libs/choices.js/public/assets/styles/choices.min.css"/>

        <link rel="stylesheet" href="/libs/sweetalert2/sweetalert2.min.css" type="text/css" />

        {{ include('partials/head-css.html.twig') }}

    </head>

    {% include 'partials/body.html.twig' with {'data': 'data-sidebar-size="sm"', 'dark':true} %}

    <input type="hidden" id="compte-id" value="{{ compte.id }}" />

    <!-- Begin page -->
    <div id="layout-wrapper">

        {{ include('partials/topbar-compte.html.twig', {title: 'Dashboard', data: compte}) }}

        {{ include('partials/sidebar.html.twig') }}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-header justify-content-between d-flex align-items-center">
                                    <h4 class="card-title">Op&eacute;ration</h4>
                                </div><!-- end card header -->
                                
                                <div class="card-body">

                                    {% include 'forms/operation-show-compte.html.twig' with {form: operationForm, compte: compte} %}
                                
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->

                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-header justify-content-between d-flex align-items-center">
                                    <h4 class="card-title">{{ compte.libelle }}</h4>{{ compte.banque.libelle }}
                                </div><!-- end card header -->
                                <div class="card-body">

                                    <table id="table-compte" class="table-hover table-striped" style="width:100%;"></table>

                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {{ include('partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    {{ include('partials/vendor-scripts.html.twig') }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/pdfmake.min.js" integrity="sha512-rDbVu5s98lzXZsmJoMa0DjHNE+RwPJACogUCLyq3Xxm2kJO6qsQwjbE5NDk2DqmlKcxDirCnU1wAzVLe12IM3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/vfs_fonts.min.js" integrity="sha512-BDZ+kFMtxV2ljEa7OWUu0wuay/PAsJ2yeRsBegaSgdUhqIno33xmD9v3m+a2M3Bdn5xbtJtsJ9sSULmNBjCgYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.20/dist/sweetalert2.all.min.js" integrity="sha256-6DBhCk8kLxWN6B/oKVfvB0ieNTCY2r0rlFlkAjLmrsM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js" integrity="sha256-Huqxy3eUcaCwqqk92RwusapTfWlvAasF6p2rxV6FJaE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@10.1.0/public/assets/scripts/choices.min.js" integrity="sha256-GGLVnYaVIFDbccxWOhWJiXbdGgmWv7nDSer8VyCQSBk=" crossorigin="anonymous"></script>

    <script src="/js/app.js"></script>
    <script src="/js/ob.js"></script>
    <script>
        ob.compte.init();
    </script>

    </body>

</html>